@model DOWTank.Models.DispatchTankModel
@{
    ViewBag.Title = "Dispatch Tank";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Hidden("FromLocationID")
@Html.Hidden("FromLocationDS")
@Html.Hidden("ToLocationID")
@Html.Hidden("ToLocationDS")

@Html.HiddenFor(m => m.ChargeCodeID)
@Html.HiddenFor(m => m.ChargeCodeAN)
@Html.HiddenFor(m => m.LoadStatusTypeCD)
@Html.HiddenFor(m => m.ChargeBlockLocationID)
@Html.HiddenFor(m => m.ChargeBlockLocationDS)
@Html.HiddenFor(m => m.WasteClassTypeCD)
@Html.HiddenFor(m => m.WasteClassTypeDS)
@Html.HiddenFor(m => m.DispatchReasonTypeCD)
@Html.HiddenFor(m => m.DispatchReasonTypeDS)
@Html.HiddenFor(m => m.AdditionalDispatchReasonTypeCD)
@Html.HiddenFor(m => m.AdditionalDispatchReasonTypeDS)
@Html.HiddenFor(m => m.FittingCD)
@Html.HiddenFor(m => m.Contact)
@Html.HiddenFor(m => m.ContactID)

<div class="well well-lg">
    <!--title-->
    <div class="row mt10 mb20">
        <div class="col-md-12">
            <h4 class="dow-color">Dispatch</h4>
        </div>
    </div>
    @Html.HiddenFor(m => m.LoadDispatchData)
    <input type="hidden" value="@ViewBag.EquipmentAN"  id="hdnEquipmentAN"/>
    @using (Html.BeginForm("Index", "Dispatch", FormMethod.Post))
    {
        if (ViewData.ModelState.Keys.Any(k => ViewData.ModelState[k].Errors.Count() > 0))
        {
        <div class="alert alert-danger">
            <button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            @Html.ValidationSummary(false, "Please correct the following items: ")
        </div>
        }
        @Html.Hidden("ChassisID");
        @Html.Hidden("ProductID")
        @Html.Hidden("DriverID")
        @Html.Hidden("FittingID")

        <div class="form-group text-right">
            <input type="submit" value="Dispatch Tank" class="btn btn-default btn-primary" />
        </div>
       
        <div class="form-group">
            <div class="col-md-12 nopadding">
                <label>Tank Number:</label>
            </div>
            <div class="row no-row-margin">
                <div class="col-md-4 nopadding">
                    @Html.HiddenFor(m => m.EquipmentID)
                    @Html.HiddenFor(m => m.EquipmentAN)
                    <input id="ddlTankNumber" type="hidden" name="intEquipmentId" style="width: 100%; box-sizing: border-box;">
                </div>
            </div>
        </div>
       
        <div class="row no-margin">
            <div class="col-md-12 nopadding">
                <h4>Last Move</h4>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-3">
                    <label>Date:</label>
                    <input type="text" id="txtLMDate" name="txtLMDate" class="form-control datetimepicker" value="@Model.txtLMDate">
                </div>
                <div class="col-md-3">
                    <label>Chassis:</label>
                    <input type="text" id="txtLMChassis" name="txtLMChassis" class="form-control">
                </div>
                <div class="col-md-3">
                    <label>Product:</label>
                    <input type="text" id="txtLMProduct" name="txtLMProduct" class="form-control">
                </div>
            </div>
        </div>   
         

        <div class="form-group">
            <div class="row">
                <div class="col-md-3">
                    <label>Driver:</label>
                    <input type="text" id="txtLMDriver" name="txtLMDriver" class="form-control">
                </div>
                <div class="col-md-3">
                    <label>To:</label>
                    <input type="text" id="txtLMTO" name="txtLMTO" class="form-control">
                </div>
                <div class="col-md-3">
                    <label>On-Hire Block:</label>
                    <input type="text" id="txtLMChargeBlock" name="txtLMChargeBlock" class="form-control">
                </div>
            </div>
        </div>
        
        
        <div class="form-group">
            <div class="row">
                <div class="col-md-3">
                    <label>Charge Code:</label>
                    <input type="text" id="txtLMChargeCode" name="txtLMChargeCode" class="form-control">
                </div>
                <div class="col-md-3">
                    <label>Shipment:</label>
                    <input type="text" id="txtLMShipment" name="txtLMShipment" class="form-control">
                </div>
                <div class="col-md-3">
                    <label>Fittings:</label>
                    <input type="text" id="txtLMFittings" name="txtLMFittings" class="form-control">
                </div>
            </div>
        </div>
        
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label>Contact:</label>
                    <input type="text" id="txtLMContact" name="txtLMContact" class="form-control">
                </div>
                <div class="col-md-4 mt20">
                    <input type="submit" id="btnCopyOver" class="btn btn-default" value="Copy Over >>" formaction="javascript:CopyOverValues();">
                </div>
            </div>
        </div>

        
        <div class="row no-row-margin">
            <div class="col-md-12 nopadding">
                <h4>Current Dispatch Info</h4>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-4 ">
                    <label>Chassis:</label>
                    <input id="ddlChassis" name="intChassisEquipmentId" style="width: 100%; box-sizing: border-box;">
                </div>
                <div class="col-md-4 ">
                    <label>Product:</label>
                    <input id="ddlProduct" type="hidden" name="sintProductId" style="width: 100%; box-sizing: border-box;">
                </div>
                <div class="col-md-4 ">
                    <label>Driver:</label>
                    <input id="ddlDriver" type="hidden" name="intDriverId" style="width: 100%; box-sizing: border-box;">
                </div>
            </div>
        </div>
        
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label>Loading Point Type:</label>
                    @Html.DropDownList("LoadPoint", null, new { @class = "form-control" })
                </div>
                <div class="col-md-4">
                    <label>Loading Point:</label>
                    <input id="ddlLoadPoint" name="intLocationFrom" type="hidden" style="width: 100%; box-sizing: border-box;">
                </div>
                <div class="col-md-4">
                    <label>Charge Code:</label>
                    <input id="ddlChargeCode" name="intChargeCode" style="width: 100%; box-sizing: border-box;">
                </div>
            </div>
        </div>
        
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label>Delivery Point Type:</label>
                    @Html.DropDownList("DeliveryPoint", null, new { @class = "form-control" })
                </div>
                <div class="col-md-4">
                    <label>Delivery Point:</label>
                    <input id="ddlDeliveryLocation" name="intLocationTo" type="hidden" style="width: 100%; box-sizing: border-box;">
                </div>
                <div class="col-md-4">
                    <label>Tank Status:</label>
                    @Html.DropDownList("sintLoadStatusTypeId", null, new { @class = "form-control" })
                </div>
            </div>
        </div>
        
        
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label>On-Hire Block Type:</label>
                    @Html.DropDownList("OnHireBlockPoint", null, new { @class = "form-control" })
                </div>
                <div class="col-md-4">
                    <label>On-Hire Block:</label>
                    <input id="ddlOnHireBlock" name="intChargeBlockLocationId" type="hidden" style="width: 100%; box-sizing: border-box;">
                </div>
                <div class="col-md-4 mt20">
                    <label>Is this a Reload?:</label>
                    @Html.CheckBoxFor(m => m.bolIsReloadFL)
                </div>
            </div>
        </div>
        
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label>Waste Class:</label>
                    <input id="ddlWasteClass" type="hidden" name="intWasteClassTypeId" style="width: 100%; box-sizing: border-box;">
                </div>
                <div class="col-md-4">
                    <label>Instructions/Reason:</label>
                    <input id="ddlInstructionsReason" name="sintDispatchReasonTypeId" style="width: 100%; box-sizing: border-box;">
                </div>
                <div class="col-md-4">
                    <label>Additional Instruct:</label>
                    <input id="ddlAdditionalInstruct" name="sintAdditionalDispatchReasonTypeId" style="width: 100%; box-sizing: border-box;">
                </div>
            </div>
        </div>
        
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label>Pro Number:</label>
                    @Html.TextBoxFor(m => m.strProNumberAN, new { @class = "form-control" })
                </div>
                <div class="col-md-4">
                    <label>ADDL Call Out Hours:</label>
                    @Html.TextBoxFor(m => m.dblCallOutHoursAMT, new { @class = "form-control" })
                </div>
                <div class="col-md-4">
                    <label>Crane Lifts:</label>
                    @Html.TextBoxFor(m => m.sintCraneLiftAmt, new { @class = "form-control" })
                </div>
            </div>
        </div>
        
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label>Dispatch Start:</label>
                    @Html.TextBoxFor(m => m.dtmDispatchStart, new { @class = "form-control datetimepicker" })
                </div>
                <div class="col-md-4">
                    <label>Dispatch End:</label>
                    @Html.TextBoxFor(m => m.dtmDispatchEnd, new { @class = "form-control datetimepicker" })
                </div>
                <div class="col-md-4">
                    <label>Scheduled Delivery:</label>
                    @Html.TextBoxFor(m => m.dtmScheduledDelivery, new { @class = "form-control datetimepicker" })
                </div>
            </div>
        </div>
        
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label>Shipment Number:</label>
                    @Html.TextBoxFor(m => m.strShipmentAN, new { @class = "form-control" })
                </div>
                <div class="col-md-4">
                    <label>Fittings:</label>
                    @Html.DropDownList("intFittingId", null, new { @class = "form-control" })
                </div>

                <div class="col-md-4">
                    <label>Block Contact:</label>
                    <input id="ddlContact" name="intContactId" type="hidden" style="width: 100%; box-sizing: border-box;">
                </div>
            </div>
        </div>
        
        <div class="form-group">
            <label>Comments:</label>
            @Html.TextAreaFor(m => m.strComments, new { @class = "form-control", rows = "5", cols = "20" })
        </div>
        <div class="form-group text-right">
            <input type="submit" value="Dispatch Tank" class="btn btn-default btn-primary mt20" />
        </div>
        
    }
</div>

@section scripts
{
    <script>

        //select2

        $(function () {
            //Tank Number ddl
            $("#ddlTankNumber").select2({
                minimumInputLength: 1,
                cache: false,
                ajax: {
                    url: "/Tank/PopulateEquipment",
                    dataType: 'json',
                    quietMillis: 650,
                    data: function (term) {
                        return {
                            searchTerm: term // search term
                        };
                    },
                    results: function (data) {
                        return { results: data };
                    }
                }
            });

            //ddlChassis
            $("#ddlChassis").select2({
                minimumInputLength: 1,
                cache: false,
                ajax: {
                    url: "/Dispatch/PopulateChassis",
                    dataType: 'json',
                    quietMillis: 650,
                    data: function (term) {
                        return {
                            searchTerm: term // search term
                        };
                    },
                    results: function (data) {
                        return { results: data };
                    }
                }
            });

            //Product ddl
            $("#ddlProduct").select2({
                minimumInputLength: 1,
                cache: false,
                ajax: {
                    url: "/Dispatch/PopulateProduct",
                    dataType: 'json',
                    quietMillis: 650,
                    data: function (term) {
                        return {
                            searchTerm: term // search term
                        };
                    },
                    results: function (data) {
                        return { results: data };
                    }
                }
            });

            //Driver ddl
            $("#ddlDriver").select2({
                minimumInputLength: 1,
                cache: false,
                ajax: {
                    url: "/Dispatch/PopulateDriver",
                    dataType: 'json',
                    quietMillis: 650,
                    data: function (term) {
                        return {
                            searchTerm: term // search term
                        };
                    },
                    results: function (data) {
                        return { results: data };
                    }
                }
            });

            //Load Point ddl
            $("#ddlLoadPoint").select2({
                minimumInputLength: 0,
                cache: false,
                ajax: {
                    url: "/Dispatch/PopulateLoadPoint",
                    dataType: 'json',
                    quietMillis: 650,
                    data: function (term) {
                        return {
                            searchTerm: term, // search term
                            locationType: $("#LoadPoint").val()
                        };
                    },
                    results: function (data) {
                        return { results: data };
                    }
                }
            });

            //Destination ddl
            $("#ddlDeliveryLocation").select2({
                minimumInputLength: 0,
                cache: false,
                ajax: {
                    url: "/Dispatch/PopulateLoadPoint",
                    dataType: 'json',
                    quietMillis: 650,
                    data: function (term) {
                        return {
                            searchTerm: term, // search term
                            locationType: $("#DeliveryPoint").val()
                        };
                    },
                    results: function (data) {
                        return { results: data };
                    }
                }
            });

            //OnHireBlock ddl
            $("#ddlOnHireBlock").select2({
                minimumInputLength: 0,
                cache: false,
                ajax: {
                    url: "/Dispatch/PopulateLoadPoint",
                    dataType: 'json',
                    quietMillis: 650,
                    data: function (term) {
                        return {
                            searchTerm: term, // search term
                            locationType: $("#OnHireBlockPoint").val()
                        };
                    },
                    results: function (data) {
                        return { results: data };
                    }
                }
            });

            // charge code ddl
            $("#ddlChargeCode").select2({
                minimumInputLength: 0,
                cache: true,
                ajax: {
                    url: "/Dispatch/PopulateChargeCode",
                    dataType: 'json',
                    quietMillis: 650,
                    data: function (term) {
                        return {
                            searchTerm: term // search term
                        };
                    },
                    results: function (data) {
                        return { results: data };
                    }
                }
            });

            //WasteClass ddl
            $("#ddlWasteClass").select2({
                minimumInputLength: 0,
                cache: false,
                ajax: {
                    url: "/Dispatch/PopulateWasteClass",
                    dataType: 'json',
                    quietMillis: 650,
                    data: function (term) {
                        return {
                            searchTerm: term // search term
                        };
                    },
                    results: function (data) {
                        return { results: data };
                    }
                }
            });

            // InstructionsReason ddl
            $("#ddlInstructionsReason").select2({
                minimumInputLength: 0,
                cache: true,
                ajax: {
                    url: "/Dispatch/PopulateDispatchReasons",
                    dataType: 'json',
                    quietMillis: 650,
                    data: function (term) {
                        return {
                            searchTerm: term // search term
                        };
                    },
                    results: function (data) {
                        return { results: data };
                    }
                }
            });

            // AdditionalInstruct ddl
            $("#ddlAdditionalInstruct").select2({
                minimumInputLength: 0,
                cache: true,
                ajax: {
                    url: "/Dispatch/PopulateDispatchReasons",
                    dataType: 'json',
                    quietMillis: 650,
                    data: function (term) {
                        return {
                            searchTerm: term // search term
                        };
                    },
                    results: function (data) {
                        return { results: data };
                    }
                }
            });

            //ddlContact
            $("#ddlContact").select2({
                minimumInputLength: 0,
                cache: false,
                ajax: {
                    url: "/Dispatch/PopulateContacts",
                    dataType: 'json',
                    quietMillis: 650,
                    data: function (term) {
                        return {
                            searchTerm: term // search term
                        };
                    },
                    results: function (data) {
                        return { results: data };
                    }
                }
            });
        });

        $(function () {
            $('.datetimepicker').datetimepicker({
                format: 'm/d/Y H:i'
            });
        });

        function CopyOverValues() {
        }

        //CopyOver
        $(function () {
            $("#btnCopyOver").click(function () {
                CopyOver();
            });
        });

        function CopyOver() {
            //$('#txtChassis').val($('#txtLMChassis').val());
            //$('#txtProduct').val($('#txtLMProduct').val());
            //alert($('#ChassisID').val() + ' : ' + $('#txtLMChassis').val());
            console.log('inside copy over ' + $('#txtLMDriver').val());
            $("#ddlChassis").select2("data", { id: $('#ChassisID').val(), text: $('#txtLMChassis').val() });
            $("#ddlProduct").select2("data", { id: $('#ProductID').val(), text: $('#txtLMProduct').val() });
            $("#ddlDriver").select2("data", { id: $('#DriverID').val(), text: $('#txtLMDriver').val() });
            $("#ddlContact").select2("data", { id: $('#ContactID').val(), text: $('#txtLMContact').val() });
            $("#FittingCD").select2("data", { id: $('#FittingID').val(), text: $('#txtLMFittings').val() });
            $('#strShipmentAN').val($('#txtLMShipment').val());
            $("#ddlLoadPoint").select2("data", { id: $('#FromLocationID').val(), text: $('#FromLocationDS').val() });
            $("#ddlDeliveryLocation").select2("data", { id: $('#ToLocationID').val(), text: $('#ToLocationDS').val() });
            //

        }


        //load last move
        $(function () {
            $("#ddlTankNumber").change(function () {
                var theSelectionId = $("#ddlTankNumber").select2('data').id;
                var theSelectionText = $("#ddlTankNumber").select2('data').text;
                loadLastMove(theSelectionId,
                    theSelectionText);
            });
            var equipmentAn = $("#hdnEquipmentAN").val();
            loadTankNumber(equipmentAn);
        });

        function loadLastMove(theSelectionId, theSelectionText) {
            console.log('theSelectionId ' + theSelectionId);
            $.ajax({
                url: "/Dispatch/LoadLastMove?equipmentId=" + theSelectionId,
                dataType: 'json',
                method: 'GET',
                success: function (response) {
                    if (response) {
                        //console.log('response ' + response.LoadStatusTypeCD);
                        $("#txtLMDate").val(response.DispatchStartDt);
                        $("#ChassisID").val(response.ChassisEquipmentID);
                        $("#txtLMChassis").val(response.ChassisEquipmentAN);
                        $("#ProductID").val(response.ProductID);
                        $("#txtLMProduct").val(response.ProductDS);
                        $("#txtLMDriver").val(response.Driver);
                        $("#DriverID").val(response.DriverID);
                        $("#txtLMTO").val(response.ToLocationDS);
                        $("#txtLMChargeBlock").val(response.ChargeBlockLocationDS);
                        $("#txtLMChargeCode").val(response.ChargeCodeAN);
                        $("#txtLMShipment").val(response.ShipmentAN);
                        $("#txtLMFittings").val(response.FittingDS);
                        $("#FittingID").val(response.FittingCD);
                        $("#txtLMContact").val(response.ContactNM);
                        $("#ContactID").val(response.ContactID);

                        $("#FromLocationID").val(response.FromLocationID);
                        $("#FromLocationDS").val(response.FromLocationDS);
                        $("#ToLocationID").val(response.ToLocationID);
                        $("#ToLocationDS").val(response.ToLocationDS);

                        //$("#ddlCurrentLocation").select2("data", { id: response.LocationID, text: response.LocationDS });
                        if (parseInt($("#LoadDispatchData").val())) {
                            CopyOver();
                       }
                    } else {
                        $("#txtLMDate").val('');
                        $("#ChassisID").val('');
                        $("#txtLMChassis").val('');
                        $("#ProductID").val('');
                        $("#txtLMProduct").val('');
                        $("#txtLMDriver").val('');
                        $("#DriverID").val('');
                        $("#txtLMTO").val('');
                        $("#txtLMChargeBlock").val('');
                        $("#txtLMChargeCode").val('');
                        $("#txtLMShipment").val('');
                        $("#FittingID").val('');
                        $("#txtLMFittings").val('');
                        $("#txtLMContact").val('');
                        $("#ContactID").val('');
                    }
                }
            });
        }

        function loadTankNumber(equipmentAn) {
            if (equipmentAn) {
                $.ajax({
                    url: "/Tank/PopulateEquipment?searchTerm=" + equipmentAn,
                    dataType: 'json',
                    method: 'GET',
                    success: function (response) {
                        if (response && response.length > 0) {
                            console.log('response.id ' + response[0].id);
                            $("#ddlTankNumber").select2("data", { id: response[0].id, text: response[0].text });
                            loadLastMove(response[0].id, '');
                        }
                    }
                });
            }
        }

        //load dispatch data
        $(function () {
            console.log('$("#LoadDispatchData").val() ' + $("#LoadDispatchData").val());
            if (parseInt($("#LoadDispatchData").val())) {
                $("#sintLoadStatusTypeId").val($('#LoadStatusTypeCD').val());
                $("#intFittingId").val($('#FittingCD').val());
                $("#ddlTankNumber").select2("data", { id: $("#EquipmentID").val(), text: $("#EquipmentAN").val() });
                $("#ddlTankNumber").trigger("change");
                $("#ddlChargeCode").select2("data", { id: $('#ChargeCodeID').val(), text: $('#ChargeCodeAN').val() });
                $("#ddlOnHireBlock").select2("data", { id: $('#ChargeBlockLocationID').val(), text: $('#ChargeBlockLocationDS').val() });
                $("#ddlOnHireBlock").select2("data", { id: $('#WasteClassTypeCD').val(), text: $('#WasteClassTypeDS').val() });
                $("#ddlInstructionsReason").select2("data", { id: $('#DispatchReasonTypeCD').val(), text: $('#DispatchReasonTypeDS').val() });
                $("#ddlAdditionalInstruct").select2("data", { id: $('#AdditionalDispatchReasonTypeCD').val(), text: $('#AdditionalDispatchReasonTypeDS').val() });
                //ddlContact
                $("#ddlContact").select2("data", { id: $('#ContactID').val(), text: $('#Contact').val() });
            }

        });

    </script>
}
