<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - DOW BBT - Tank</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")
    @*<link href="@Url.Content("~/Content/DataTables/css/jquery.dataTables.min.css")" rel="stylesheet" />*@
    <link href="@Url.Content("~/Content/dataTables.responsive.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/dataTables.bootstrap.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/select2.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/jquery.datetimepicker.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/JqGrid/ui.jqgrid.css")" rel="stylesheet" />
    @RenderSection("head", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("DOW", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown open">
                        <a aria-expanded="true" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#">Main Console<span class="caret"></span></a>
                        <ul role="menu" class="dropdown-menu">
                            <li>@Html.ActionLink("Require Cleaning", "Index", "RequireCleaning")</li>
                            <li>@Html.ActionLink("Require Service", "Index", "RequireService")</li>
                            <li>@Html.ActionLink("Search", "Index", "TankSearch")</li>
                            <li>@Html.ActionLink("Tank Prep", "Prep", "Tank")</li>
                            <li>@Html.ActionLink("Tank Arrival", "TankArrivalUpdate", "Tank")</li>
                            <li>@Html.ActionLink("Audit Driver List", "AuditDriverList", "Report")</li>
                            <li>@Html.ActionLink("Tank History", "Index", "TankHistory")</li>
                            <li>@Html.ActionLink("Dispatch", "Index", "Dispatch")</li>
                            <li>@Html.ActionLink("Invoice", "Index", "InvoiceList")</li>
                            <li>@Html.ActionLink("Yard", "Index", "GroundedMatrix")</li>
                        </ul>
                    </li>
                    <li><a aria-expanded="true" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#">Reports<span class="caret"></span></a>
                        <ul role="menu" class="dropdown-menu">
                            <li>@Html.ActionLink("Audit Driver List", "AuditDriverList", "Report")</li>
                            <li>@Html.ActionLink("Audit Missing Moves", "AuditMissingMoves", "Report")</li>
                            <li>@Html.ActionLink("Audit Moves By User", "AuditMovesByUser", "Report")</li>
                            <li>@Html.ActionLink("Audit Warning Messages", "AuditWarningMessages", "Report")</li>
                            <li>@Html.ActionLink("Dedicated Tanks", "DedicatedTanks", "Report")</li>
                            <li>@Html.ActionLink("Tank Cost To Date", "TankCostToDate", "Report")</li>
                            <li>@Html.ActionLink("HS&E Report", "HSEReport", "Report")</li>
                            <li>@Html.ActionLink("Idle Equipment", "IdleEquipment", "Report")</li>
                            <li>@Html.ActionLink("Invoice Summary", "InvoiceSummary", "Report")</li>
                            <li>@Html.ActionLink("Facility Equipment", "FacilityEquipment", "Report")</li>
                            <li>@Html.ActionLink("Daily Dispatch", "DailyDispatch", "Report")</li>
                            <li>@Html.ActionLink("Billing", "Billing", "Report")</li>
                            <li>@Html.ActionLink("Chassis Activity", "ChassisActivity", "Report")</li>
                            <li>@Html.ActionLink("Driver Activity", "DriverActivity", "Report")</li>
                            <li>@Html.ActionLink("Exif Tank Positions", "ExifTankPositions", "Report")</li>
                            <li>@Html.ActionLink("Last Chassis Location", "LastChassisLocation", "Report")</li>
                            <li>@Html.ActionLink("Last Tank Move", "LastTankMove", "Report")</li>
                            <li>@Html.ActionLink("Tank Activity", "TankActivity", "Report")</li>
                            <li>@Html.ActionLink("Tank Prep/Shipment Schedule", "TankShipmentSchedule", "Report")</li>
                            <li>@Html.ActionLink("Yard Check", "YardCheck", "Report")</li>
                        </ul>
                    </li>
                    <li>
                        <a aria-expanded="true" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#">Admin<span class="caret"></span></a>
                        <ul role="menu" class="dropdown-menu">
                            <li>@Html.ActionLink("Contacts", "Contacts", "Admin")</li>
                            <li>@Html.ActionLink("Charge Codes", "ChargeCodes", "Admin")</li>
                            <li>@Html.ActionLink("Dispatch Reason Type", "DispatchReasonType", "Admin")</li>
                            <li>@Html.ActionLink("Drivers", "Drivers", "Admin")</li>
                            <li>@Html.ActionLink("Equipment Types", "EquipmentTypes", "Admin")</li>
                            <li>@Html.ActionLink("Facility Parameters", "FacilityParameters", "Admin")</li>
                            <li>@Html.ActionLink("Fittings", "Fittings", "Admin")</li>
                            <li>@Html.ActionLink("Locations", "Locations", "Admin")</li>
                            <li>@Html.ActionLink("Maintenance Condition", "MaintenanceCondition", "Admin")</li>
                            <li>@Html.ActionLink("Movement Type", "MovementType", "Admin")</li>
                            <li>@Html.ActionLink("On/Off Hire Reason", "HireReason", "Admin")</li>
                            <li>@Html.ActionLink("Operator", "Operator", "Admin")</li>
                            <li>@Html.ActionLink("Owners", "Owners", "Admin")</li>
                            <li>@Html.ActionLink("Tank Construction", "TankConstruction", "Admin")</li>
                            <li>@Html.ActionLink("Vendor", "Vendor", "Admin")</li>
                            <li>@Html.ActionLink("Waste Class", "WasteClass", "Admin")</li>
                            <li>@Html.ActionLink("Recover Deleted Moves", "RecoverDeletedMoves", "Admin")</li>
                            <li>@Html.ActionLink("Equipment", "Equipment", "Admin")</li>
                            <li>@Html.ActionLink("Product Master", "ProductMaster", "Admin")</li>
                            <li>@Html.ActionLink("Products", "ProductMasterIndex", "Admin")</li>
                            <li>@Html.ActionLink("User Profile", "UserProfile", "Admin")</li>
                            <li>@Html.ActionLink("Users", "UserIndex", "Admin")</li>
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @Html.Partial("_alerts")
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Bridge Terminal Transport. All rights reserved.</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="@Url.Content("~/Scripts/DataTables/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/Scripts/dataTables.responsive.js")"></script>
    <script src="@Url.Content("~/Scripts/dataTables.bootstrap.js")"></script>
    <script src="@Url.Content("~/Scripts/select2.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.datetimepicker.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.11.4.min.js")"></script>
    <script src="@Url.Content("~/Scripts/JqGrid/i18n/grid.locale-en.js")"></script>
    <script src="@Url.Content("~/Scripts/JqGrid/jquery.jqGrid.min.js")"></script>
    @RenderSection("scripts", required: false)
    <script>
        $(function () {
            $('.dropdown.open .dropdown-toggle').dropdown('toggle');
        });
    </script>
</body>
</html>
