@model DOWTank.Models.AdminEquipmentModel
@{
    ViewBag.Title = "Equipment";
}

@Html.HiddenFor(m => m.EquipmentID)
@Html.HiddenFor(m => m.DedicatedLocationID)
@Html.HiddenFor(m => m.ProductID)
@Html.HiddenFor(m => m.DedicatedProductID)


<div class="well well-lg">
    <!--title-->
    <div class="row">
        <div class="col-md-12 nopadding">
            <h4 class="dow-color col-md-6">Equipment</h4>
        </div>
    </div>
    @using (Html.BeginForm("Equipment", "Admin", FormMethod.Post))
    {
        if (ViewData.ModelState.Keys.Any(k => ViewData.ModelState[k].Errors.Count() > 0))
        { 
        <div class="alert alert-danger">
            <button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            @Html.ValidationSummary(false, "Please correct the following items: ")
        </div>
        }
        <div class="form-group text-right">
            <input type="submit" value="Save Equipment" class="btn btn-default btn-primary" />
        </div>
        <div class="form-group">
            <div class="col-md-12 nopadding">
                <label>Class:*</label>
            </div>
            <div class="row no-row-margin">
                <div class="col-md-1 nopadding">
                    <div class="radio">
                        <label>
                            @Html.RadioButtonFor(m => m.EquipmentClassTypeCD, 2)
                            Chessis
                        </label>
                    </div>
                </div>
                <div class="col-md-1 nopadding">
                    <div class="radio">
                        <label>
                            @Html.RadioButtonFor(m => m.EquipmentClassTypeCD, 3)
                            Container
                        </label>
                    </div>
                </div>
                <div class="col-md-1 nopadding">
                    <div class="radio">
                        <label>
                            @Html.RadioButtonFor(m => m.EquipmentClassTypeCD, 1)
                            Tank
                        </label>
                    </div>
                </div>
            </div>
        </div>   
    
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label>Equipment #:*</label>
                    @Html.TextBoxFor(m => m.EquipmentAN, new { @class = "form-control" })
                </div>
                <div class="col-md-3">
                    <label>Type:*</label>
                    @Html.DropDownList("EquipmentTypeCD", null, new { @class = "form-control" })
                </div>
            </div>
        </div>
    
        <div class="form-group">
            <div class="col-md-12 nopadding">
                <label>Pool:</label>
            </div>
            <div class="row no-row-margin">
                <div class="col-md-1 nopadding">
                    <div class="radio">
                        <label>
                            @Html.RadioButtonFor(m => m.PoolFL, true)
                            Yes
                        </label>
                    </div>
                </div>
                <div class="col-md-1 nopadding">
                    <div class="radio">
                        <label>
                            @Html.RadioButtonFor(m => m.PoolFL, false)
                            No
                        </label>
                    </div>
                </div>
            </div>
        </div>  
    
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label>Owner:</label>
                    <input id="ddlOwner" name="OwnerID" style="width: 100%; box-sizing: border-box;">
                </div>
                <div class="col-md-4">
                    <label>Operator:</label>
                    <input id="ddlOperator" name="OperatorID" style="width: 100%; box-sizing: border-box;">
                </div>
            </div>
        </div>
        
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label>Current Location:</label>
                    <input id="ddlCurrentLocation" name="LocationID" style="width: 100%; box-sizing: border-box;">
                </div>
                <div class="col-md-4">
                    <label>Current Load Status:</label>
                    <input id="ddlLoadStatus" name="LoadStatusTypeCD" style="width: 100%; box-sizing: border-box;">
                </div>
            </div>
        </div>
    
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label>Tank Grade:</label>
                    <input id="ddlTankGrade" name="TankGradeTypeCD" style="width: 100%; box-sizing: border-box;">
                </div>
                <div class="col-md-4">
                    <label>Current/Last Product:*</label>
                    <input id="ddlCurrentLastProduct" name="ProductID" style="width: 100%; box-sizing: border-box;">
                </div>
                <div class="col-md-2">
                    <a href="#">[ Add ]</a>
                </div>
            </div>
        </div>
        
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label>Dedicated Location:</label>
                    <!--todo: replace it with select2-->
                    <input type="text" class="form-control" />
                </div>
                <div class="col-md-4">
                    <label>Dedicated Product:</label>
                    <input id="ddlDedicatedProduct" name="DedicatedProductID" style="width: 100%; box-sizing: border-box;">
                </div>
                <div class="col-md-2">
                    <label></label>
                    <input type="button" value="Add Product" class="btn btn-default mt20" />
                </div>
            </div>
        </div>
        
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label>Tank Condition:</label>
                    <input id="ddlBarrelCondition" name="BarrelConditionTypeCD" style="width: 100%; box-sizing: border-box;">
                </div>
                <div class="col-md-4">
                    <label>Service Type:*</label>
                    <input id="ddlMoveType" name="MoveTypeCD" style="width: 100%; box-sizing: border-box;">
                </div>
            </div>
        </div>
    
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label>Last Test Date:</label>
                    @Html.TextBoxFor(m => m.Tank5YRTestDT, new { @class = "form-control datetimepicker" })
                    @*<input type="text" name="Tank5YRTestDT" class="form-control datetimepicker">*@
                </div>
                <div class="col-md-4">
                    <label>FHWA Inspect Date:</label>
                    @Html.TextBoxFor(m => m.DOTInspectedDT, new { @class = "form-control datetimepicker" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12 nopadding">
                <label>Last Test Type:</label>
            </div>
            <div class="row no-row-margin">
                <div class="col-md-1 nopadding">
                    <div class="radio">
                        <label>
                            <input type="radio" name="LastTestHydroFL" value="true" checked>
                            Hydro
                        </label>
                    </div>
                </div>
                <div class="col-md-1 nopadding">
                    <div class="radio">
                        <label>
                            <input type="radio" name="LastTestHydroFL" value="false">
                            Air
                        </label>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label>Tank Capacity (Liters):</label>
                    <input type="text" name="TankCapacity" class="form-control" />
                </div>
            </div>
        </div>
    
        <div class="form-group">
            <div class="col-md-12 nopadding">
                <label>Active:</label>
            </div>
            <div class="row no-row-margin">
                <div class="col-md-1 nopadding">
                    <div class="radio">
                        <label>
                            <input type="radio" name="ActiveFL" value="true" checked>
                            Yes
                        </label>
                    </div>
                </div>
                <div class="col-md-1 nopadding">
                    <div class="radio">
                        <label>
                            <input type="radio" name="ActiveFL" value="false">
                            No
                        </label>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="form-group text-right mt10">
            <input type="submit" value="Save Equipment" class="btn btn-default btn-primary" />
        </div>
    }
</div>

<!--script-->
@section scripts
{
    <script>


        $(function () {
            $('.datetimepicker').datetimepicker({
                format: 'm/d/Y'
            });
        });

        $(function () {

            $(':radio[name=EquipmentClassTypeCD]').change(function () {
                // read the value of the selected radio
                var value = $(this).val();
                $("#ddlType").select2({
                    minimumInputLength: 0,
                    cache: false,
                    ajax: {
                        url: "/Admin/PopulateTypeDDL",
                        dataType: 'json',
                        quietMillis: 650,
                        data: function (term) {
                            return {
                                searchTerm: value // search term
                            };
                        },
                        results: function (data) {
                            return { results: data };
                        }
                    }
                });
            });

            //ddlOwner
            $("#ddlOwner").select2({
                minimumInputLength: 0,
                cache: false,
                ajax: {
                    url: "/Admin/PopulateOwnerDDL",
                    dataType: 'json',
                    quietMillis: 650,
                    data: function (term) {
                        return {
                            searchTerm: term // search term
                        };
                    },
                    results: function (data) {
                        return { results: data };
                    }
                }
            });

            //ddlOperator
            $("#ddlOperator").select2({
                minimumInputLength: 0,
                cache: false,
                ajax: {
                    url: "/Admin/PopulateOperatorDDL",
                    dataType: 'json',
                    quietMillis: 650,
                    data: function (term) {
                        return {
                            searchTerm: term // search term
                        };
                    },
                    results: function (data) {
                        return { results: data };
                    }
                }
            });

            //ddlLoadStatus
            $("#ddlLoadStatus").select2({
                minimumInputLength: 0,
                cache: false,
                ajax: {
                    url: "/Admin/PopulateLoadStatusDDL",
                    dataType: 'json',
                    quietMillis: 650,
                    data: function (term) {
                        return {
                            searchTerm: term // search term
                        };
                    },
                    results: function (data) {
                        return { results: data };
                    }
                }
            });

            //ddlTankGrade
            $("#ddlTankGrade").select2({
                minimumInputLength: 0,
                cache: false,
                ajax: {
                    url: "/Admin/PopulateTankGradeDDL",
                    dataType: 'json',
                    quietMillis: 650,
                    data: function (term) {
                        return {
                            searchTerm: term // search term
                        };
                    },
                    results: function (data) {
                        return { results: data };
                    }
                }
            });

            //ddlCurrentLastProduct
            $("#ddlCurrentLastProduct").select2({
                minimumInputLength: 0,
                cache: false,
                ajax: {
                    url: "/Admin/PopulateProductDDL",
                    dataType: 'json',
                    quietMillis: 650,
                    data: function (term) {
                        return {
                            searchTerm: term // search term
                        };
                    },
                    results: function (data) {
                        return { results: data };
                    }
                }
            });

            //ddlDedicatedProduct
            $("#ddlDedicatedProduct").select2({
                minimumInputLength: 0,
                cache: false,
                ajax: {
                    url: "/Admin/PopulateProductDDL",
                    dataType: 'json',
                    quietMillis: 650,
                    data: function (term) {
                        return {
                            searchTerm: term // search term
                        };
                    },
                    results: function (data) {
                        return { results: data };
                    }
                }
            });

            //ddlBarrelCondition
            $("#ddlBarrelCondition").select2({
                minimumInputLength: 0,
                cache: false,
                ajax: {
                    url: "/Admin/PopulateTankConditionDDL",
                    dataType: 'json',
                    quietMillis: 650,
                    data: function (term) {
                        return {
                            searchTerm: term // search term
                        };
                    },
                    results: function (data) {
                        return { results: data };
                    }
                }
            });

            //ddlMoveType
            $("#ddlMoveType").select2({
                minimumInputLength: 0,
                cache: false,
                ajax: {
                    url: "/Admin/PopulateMoveTypeDDL",
                    dataType: 'json',
                    quietMillis: 650,
                    data: function (term) {
                        return {
                            searchTerm: term // search term
                        };
                    },
                    results: function (data) {
                        return { results: data };
                    }
                }
            });

        });

    </script>
}