@model DOWTank.Models.AdminEquipmentModel
@{
    ViewBag.Title = "Equipment";
}

@Html.HiddenFor(m => m.EquipmentID)
@Html.HiddenFor(m => m.DedicatedLocationID)
@Html.HiddenFor(m => m.DedicatedProductID)

<div class="well well-lg">
    <!--title-->
    <div class="row">
        <div class="col-md-12 nopadding">
            <h4 class="dow-color col-md-6">Equipment</h4>
        </div>
    </div>
    @using (Html.BeginForm("Equipment", "Admin", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.EquipmentTypeCDSelected)
        @Html.HiddenFor(m => m.OwnerIDSelected)
        @Html.HiddenFor(m => m.OperatorIDSelected)
        @Html.HiddenFor(m => m.LoadStatusTypeCDSelected)
        @Html.HiddenFor(m => m.TankGradeTypeCDSelected)
        @Html.HiddenFor(m => m.MoveTypeCDSelected)
        @Html.HiddenFor(m => m.ProductDS)
        @Html.HiddenFor(m => m.ProductIDSelected)
        @Html.HiddenFor(m => m.DedicatedProductIDSelected)
        @Html.HiddenFor(m => m.DedicatedProductDS)
        @Html.HiddenFor(m => m.DedicatedLocationIDSelected)
        @Html.HiddenFor(m => m.DedicatedLocationDS)
        @Html.HiddenFor(m => m.LocationIDSelected)
        @Html.HiddenFor(m => m.LocationDS)
        if (ViewData.ModelState.Keys.Any(k => ViewData.ModelState[k].Errors.Count() > 0))
        { 
        <div class="alert alert-danger">
            <button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            @Html.ValidationSummary(false, "Please correct the following items: ")
        </div>
        }
        <div class="form-group text-right">
            <input type="submit" value="Save Equipment" class="btn btn-default btn-primary" />
        </div>
        <div class="form-group">
            <div class="col-md-12 nopadding">
                <label>Class:*</label>
            </div>
            <div class="row no-row-margin">
                <div class="col-md-1 nopadding">
                    <div class="radio">
                        <label>
                            @Html.RadioButtonFor(m => m.EquipmentClassTypeCD, 2)
                            Chessis
                        </label>
                    </div>
                </div>
                <div class="col-md-1 nopadding">
                    <div class="radio">
                        <label>
                            @Html.RadioButtonFor(m => m.EquipmentClassTypeCD, 3)
                            Container
                        </label>
                    </div>
                </div>
                <div class="col-md-1 nopadding">
                    <div class="radio">
                        <label>
                            @Html.RadioButtonFor(m => m.EquipmentClassTypeCD, 1)
                            Tank
                        </label>
                    </div>
                </div>
            </div>
        </div>   
    
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label>Equipment #:*</label>
                    @Html.TextBoxFor(m => m.EquipmentAN, new { @class = "form-control" })
                </div>
                <div class="col-md-3">
                    <label>Type:*</label>
                    @Html.DropDownList("EquipmentTypeCD", null, new { @class = "form-control" })
                </div>
            </div>
        </div>
    
        <div class="form-group">
            <div class="col-md-12 nopadding">
                <label>Pool:</label>
            </div>
            <div class="row no-row-margin">
                <div class="col-md-1 nopadding">
                    <div class="radio">
                        <label>
                            @Html.RadioButtonFor(m => m.PoolFL, true)
                            Yes
                        </label>
                    </div>
                </div>
                <div class="col-md-1 nopadding">
                    <div class="radio">
                        <label>
                            @Html.RadioButtonFor(m => m.PoolFL, false)
                            No
                        </label>
                    </div>
                </div>
            </div>
        </div>  
    
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label>Owner:</label>
                    @Html.DropDownList("OwnerID", null, new { @class = "form-control" })
                </div>
                <div class="col-md-4">
                    <label>Operator:</label>
                    @Html.DropDownList("OperatorID", null, new { @class = "form-control" })
                </div>
            </div>
        </div>
        
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label>Current Location:</label>
                    <input id="ddlCurrentLocation" name="LocationID" style="width: 100%; box-sizing: border-box;">
                </div>
                <div class="col-md-4">
                    <label>Current Load Status:</label>
                    @Html.DropDownList("LoadStatusTypeCD", null, new { @class = "form-control" })
                </div>
            </div>
        </div>
    
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label>Tank Grade:</label>
                    @Html.DropDownList("TankGradeTypeCD", null, new { @class = "form-control" })
                </div>
                <div class="col-md-4">
                    <label>Current/Last Product:*</label>
                    <input id="ddlCurrentLastProduct" name="ProductID" type="hidden" value="@Model.ProductID" style="width: 100%; box-sizing: border-box;">
                </div>
                <div class="col-md-2">
                    <a href="#">[ Add ]</a>
                </div>
            </div>
        </div>
        
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label>Dedicated Location:</label>
                    <input type="hidden" id="ddlDedicatedLocation" name="DedicatedLocationID" style="width: 100%; box-sizing: border-box;" />
                </div>
                <div class="col-md-4">
                    <label>Dedicated Product:</label>
                    <input id="ddlDedicatedProduct" type="hidden" name="DedicatedProductID" style="width: 100%; box-sizing: border-box;">
                </div>
                <div class="col-md-2">
                    <label></label>
                    <input type="button" value="Add Product" class="btn btn-default mt20" />
                </div>
            </div>
        </div>
        
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label>Tank Condition:</label>
                    @Html.DropDownList("BarrelConditionTypeCD", null, new { @class = "form-control" })
                </div>
                <div class="col-md-4">
                    <label>Service Type:*</label>
                    @Html.DropDownList("MoveTypeCD", null, new { @class = "form-control" })
                </div>
            </div>
        </div>
    
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label>Last Test Date:</label>
                    @Html.TextBoxFor(m => m.Tank5YRTestDT, new { @class = "form-control datetimepicker" })
                    @*<input type="text" name="Tank5YRTestDT" class="form-control datetimepicker">*@
                </div>
                <div class="col-md-4">
                    <label>FHWA Inspect Date:</label>
                    @Html.TextBoxFor(m => m.DOTInspectedDT, new { @class = "form-control datetimepicker" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12 nopadding">
                <label>Last Test Type:</label>
            </div>
            <div class="row no-row-margin">
                <div class="col-md-1 nopadding">
                    <div class="radio">
                        <label>
                            @Html.RadioButtonFor(m => m.LastTestHydroFL, true)
                            Hydro
                        </label>
                    </div>
                </div>
                <div class="col-md-1 nopadding">
                    <div class="radio">
                        <label>
                            @Html.RadioButtonFor(m => m.LastTestHydroFL, false)
                            Air
                        </label>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label>Tank Capacity (Liters):</label>
                    @Html.TextBoxFor(m => m.TankCapacity, new { @class = "form-control" })
                </div>
            </div>
        </div>
    
        <div class="form-group">
            <div class="col-md-12 nopadding">
                <label>Active:</label>
            </div>
            <div class="row no-row-margin">
                <div class="col-md-1 nopadding">
                    <div class="radio">
                        <label>
                            @Html.RadioButtonFor(m => m.ActiveFL, true)
                            Yes
                        </label>
                    </div>
                </div>
                <div class="col-md-1 nopadding">
                    <div class="radio">
                        <label>
                            @Html.RadioButtonFor(m => m.ActiveFL, false)
                            No
                        </label>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="form-group text-right mt10">
            <input type="submit" value="Save Equipment" class="btn btn-default btn-primary" />
        </div>
    }
</div>


<!--script-->
@section scripts
{
    <script>

        $(function () {
            if ($("#EquipmentAN").val()) {

                $("#EquipmentTypeCD").val($("#EquipmentTypeCDSelected").val());
                $("#OwnerID").val($("#OwnerIDSelected").val());
                $("#OperatorID").val($("#OperatorIDSelected").val());
                $("#LoadStatusTypeCD").val($("#LoadStatusTypeCDSelected").val());
                $("#TankGradeTypeCD").val($("#TankGradeTypeCDSelected").val());
                $("#MoveTypeCD").val($("#MoveTypeCDSelected").val());
            }
        });

        $(function () {
            $('.datetimepicker').datetimepicker({
                format: 'm/d/Y'
            });
        });

        $(function () {

            //ddlCurrentLocation
            $("#ddlCurrentLocation").select2({
                minimumInputLength: 0,
                cache: false,
                ajax: {
                    url: "/Admin/PopulateLoactionDDL",
                    dataType: 'json',
                    quietMillis: 650,
                    data: function (term) {
                        return {
                            searchTerm: term // search term
                        };
                    },
                    results: function (data) {
                        return { results: data };
                    }
                }
            });
            
            //ddlDedicatedLocation
            $("#ddlDedicatedLocation").select2({
                minimumInputLength: 0,
                cache: false,
                ajax: {
                    url: "/Admin/PopulateLoactionDDL",
                    dataType: 'json',
                    quietMillis: 650,
                    data: function (term) {
                        return {
                            searchTerm: term // search term
                        };
                    },
                    results: function (data) {
                        return { results: data };
                    }
                }
            });

            //ddlCurrentLastProduct
            $("#ddlCurrentLastProduct").select2({
                minimumInputLength: 0,
                cache: false,
                ajax: {
                    url: "/Admin/PopulateProductDDL",
                    dataType: 'json',
                    quietMillis: 650,
                    data: function (term) {
                        return {
                            searchTerm: term // search term
                        };
                    },
                    results: function (data) {
                        return { results: data };
                    }
                }
            });

            //ddlDedicatedProduct
            $("#ddlDedicatedProduct").select2({
                minimumInputLength: 0,
                cache: false,
                ajax: {
                    url: "/Admin/PopulateProductDDL",
                    dataType: 'json',
                    quietMillis: 650,
                    data: function (term) {
                        return {
                            searchTerm: term // search term
                        };
                    },
                    results: function (data) {
                        return { results: data };
                    }
                }
            });


            //mark end of document ready
        });


        //on page load re-popluate
        $(function () {
            $("#ddlCurrentLastProduct").select2("data", { id: $("#ProductIDSelected").val(), text: $("#ProductDS").val() });
            $("#ddlDedicatedProduct").select2("data", { id: $("#DedicatedProductIDSelected").val(), text: $("#DedicatedProductDS").val() });
            $("#ddlCurrentLocation").select2("data", { id: $("#LocationIDSelected").val(), text: $("#LocationDS").val() });
            $("#ddlDedicatedLocation").select2("data", { id: $("#DedicatedLocationIDSelected").val(), text: $("#DedicatedLocationDS").val() });
        });
        //re-populate on post
        $(function () {

            $("#ddlCurrentLastProduct").change(function () {
                var text = $("#ddlCurrentLastProduct").select2('data').text;
                $("#ProductDS").val(text);
                var id = $("#ddlCurrentLastProduct").select2('data').id;
                $("#ProductIDSelected").val(id);
            });
            $("#ddlDedicatedProduct").change(function () {
                var text = $("#ddlDedicatedProduct").select2('data').text;
                $("#DedicatedProductDS").val(text);
                var id = $("#ddlDedicatedProduct").select2('data').id;
                $("#DedicatedProductIDSelected").val(id);
            });
            $("#ddlCurrentLocation").change(function () {
                var text = $("#ddlCurrentLocation").select2('data').text;
                $("#LocationDS").val(text);
                var id = $("#ddlCurrentLocation").select2('data').id;
                $("#LocationIDSelected").val(id);
            });
            $("#ddlDedicatedLocation").change(function () {
                var text = $("#ddlDedicatedLocation").select2('data').text;
                $("#DedicatedLocationDS").val(text);
                var id = $("#ddlDedicatedLocation").select2('data').id;
                $("#DedicatedLocationIDSelected").val(id);
            });

        });


    </script>
}