@model DOWTank.Models.AdminProductModel
@{
    ViewBag.Title = "Product Master";
}

@Html.HiddenFor(m => m.Key)

<div class="well well-lg">
    <!--title-->
    <div class="row">
        <div class="col-md-12 nopadding">
            <h4 class="dow-color col-md-6">Product</h4>
        </div>
    </div>
    @using (Html.BeginForm("ProductMaster", "Admin", FormMethod.Post))
    {
        if (ViewData.ModelState.Keys.Any(k => ViewData.ModelState[k].Errors.Count() > 0))
        {
        <div class="alert alert-danger">
            <button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            @Html.ValidationSummary(false, "Please correct the following items: ")
        </div>
        }
      
        <div class="form-group text-right">
            <input type="submit" value="Save Product" class="btn btn-default btn-primary" />
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label>Product Code #:</label>
                    @Html.TextBoxFor(m => m.ProductCodeAN, new { @class = "form-control" })
                </div>
                <div class="col-md-4">
                    <label>MSDS Number #:</label>
                    @Html.TextBoxFor(m => m.MSDSNumberAN, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label>WPN #:</label>
                    @Html.TextBoxFor(m => m.WPNNumberAN, new { @class = "form-control" })
                </div>
                <div class="col-md-4">
                    <label>Product Name:*</label>
                    @Html.TextBoxFor(m => m.ProductName, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label>DOT Shipping Name::</label>
                    @Html.TextBoxFor(m => m.DOTShippingNameDS, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-8">
                    <label>Synonyms:</label><span>(Please separate Synonyms with a semi-colon [;])</span>
                    @Html.TextAreaFor(m => m.SynonymsDS, new { rows = "4", cols = "18", @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12 nopadding">
                <label>Hazardous:</label>
            </div>
            <div class="row no-row-margin">
                <div class="col-md-1 nopadding">
                    <div class="radio">
                        <label>
                            <input type="radio" name="HazardousFL" value="true" checked>
                            Yes
                        </label>
                    </div>
                </div>
                <div class="col-md-1 nopadding">
                    <div class="radio">
                        <label>
                            <input type="radio" name="HazardousFL" value="false">
                            No
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label>Hazard Class:</label>
                    <input id="ddlHazardClass" name="DOTHazardClassID" style="width: 100%; box-sizing: border-box;">
                </div>
                <div class="col-md-4">
                    <label>UN/NA #:</label>
                    @Html.TextBoxFor(m => m.UNNANumberAN, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label>Density:</label>
                    @Html.TextBoxFor(m => m.DensityDS, new { @class = "form-control" })
                </div>
                <div class="col-md-4">
                    <label>LBS Per Gallon:</label>
                    @Html.TextBoxFor(m => m.LBSPerGalAMT, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-8">
                    <label>Prior Content Restriction:</label>
                    @Html.TextAreaFor(m => m.PriorContentRestrictionDS, new { rows = "5", cols = "20", @class = "form-control" })
                </div>
            </div>            
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-8">
                    <label>Cleaning Requirements:</label>
                    @Html.TextAreaFor(m => m.CleaningRequirementsDS, new { rows = "5", cols = "20", @class = "form-control" })
                </div>
            </div>           
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label>Tank Capacity (Liters):</label>
                    @Html.TextBoxFor(m => m.TankCapacity, new { @class = "form-control" })
                </div>
                <div class="col-md-4">
                    <label>Tank Type:</label>
                    <input id="ddlTankType" name="EquipmentTypeCD" style="width: 100%; box-sizing: border-box;">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label>Tank Construction:</label>
                    <input id="ddlTankConstruction" name="TankConstructionTypeCD" style="width: 100%; box-sizing: border-box;">
                </div>
                <div class="col-md-4">
                    <label>Tank # of Bars:</label>
                    @Html.TextBoxFor(m => m.TankNumberOfBarsAMT, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label>Tank Grade:</label>
                    <input id="ddlTankGrade" name="TankGradeTypeCD" style="width: 100%; box-sizing: border-box;">
                </div>
                <div class="col-md-6">
                    <label>Tank Discharge:</label>
                    <div class="row no-row-margin">
                        <div class="col-md-2">
                            <div class="checkbox">
                                <label>
                                    @Html.CheckBoxFor(m => m.TankTopDischargeFL, new { @checked = true })
                                    Top
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="checkbox">
                                <label>
                                    @Html.CheckBoxFor(m => m.TankBottomDischargeFL)
                                    Bottom
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label>Tank Requires:</label>
                    <div class="row no-row-margin">
                        <div class="col-md-4">
                            <div class="checkbox">
                                <label>
                                    @Html.CheckBoxFor(m => m.TankSteamCoilsFL, new { @checked = true })
                                    Steam Coils
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="checkbox">
                                <label>
                                    @Html.CheckBoxFor(m => m.TankElectricHeatFL)
                                    Electric Heat
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <label>Active:* </label>
                    <div class="row no-row-margin">
                        <div class="col-md-2">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="ActiveFL" value="true" checked>
                                    Yes
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="ActiveFL" value="false">
                                    No
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="form-group text-right mt10">
            <input type="submit" value="Save Product" class="btn btn-default btn-primary" />
        </div>
    }

</div>


<!--script-->
@section scripts
{    <script>
    
    //ddlHazardClass
    $("#ddlHazardClass").select2({
        minimumInputLength: 0,
        cache: false,
        ajax: {
            url: "/Admin/PopulateHazardClassDDL",
            dataType: 'json',
            quietMillis: 650,
            data: function (term) {
                return {
                    searchTerm: term // search term
                };
            },
            results: function (data) {
                return { results: data };
            }
        }
    });
                
    //ddlTankType
    $("#ddlTankType").select2({
        minimumInputLength: 0,
        cache: false,
        ajax: {
            url: "/Admin/PopulateTypeDDL",
            dataType: 'json',
            quietMillis: 650,
            data: function (term) {
                return {
                    searchTerm: term // search term
                };
            },
            results: function (data) {
                return { results: data };
            }
        }
    });

    //ddlTankConstruction
    $("#ddlTankConstruction").select2({
        minimumInputLength: 0,
        cache: false,
        ajax: {
            url: "/Admin/PopulateTankConstructionTypeDDL",
            dataType: 'json',
            quietMillis: 650,
            data: function (term) {
                return {
                    searchTerm: term // search term
                };
            },
            results: function (data) {
                return { results: data };
            }
        }
    });

    //ddlTankGrade
    $("#ddlTankGrade").select2({
        minimumInputLength: 0,
        cache: false,
        ajax: {
            url: "/Admin/PopulateTankGradeDDL",
            dataType: 'json',
            quietMillis: 650,
            data: function (term) {
                return {
                    searchTerm: term // search term
                };
            },
            results: function (data) {
                return { results: data };
            }
        }
    });
    </script>
}