@model DOWTank.Models.UserSecurityProfileViewModel
@{
    ViewBag.Title = "Edit User Profile";
}

<div class="well well-lg">
    <!--title-->
    <div class="row">
        <div class="col-md-12 nopadding">
            <h4 class="dow-color col-md-6">Edit User Profile</h4>
        </div>
    </div>
    @using (Html.BeginForm("SecurityProfile", "Admin", FormMethod.Post))
    {
        if (ViewData.ModelState.Keys.Any(k => ViewData.ModelState[k].Errors.Count() > 0))
        {
        <div class="alert alert-danger">
            <button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            @Html.ValidationSummary(false, "Please correct the following items: ")
        </div>
        }
        <div class="form-group text-right">
            <input type="submit" value="Save Profile" class="btn btn-default btn-primary" />
        </div>
        @Html.HiddenFor(m => m.Id)
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label>Profile Name #:*</label>
                    @Html.TextBoxFor(m => m.ProfileName, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12 nopadding">
                <label>Active:</label>
            </div>
            <div class="row no-row-margin">
                <div class="col-md-1 nopadding">
                    <div class="radio">
                        <label>
                            @Html.RadioButtonFor(m => m.IsActive, true)
                            Yes
                        </label>
                    </div>
                </div>
                <div class="col-md-1 nopadding">
                    <div class="radio">
                        <label>
                            @Html.RadioButtonFor(m => m.IsActive, false)
                            No
                        </label>
                    </div>
                </div>
            </div>
        </div>
        
        //Dashboard Menu
        <div class="form-group">
            <div class="row">
                <div class="row no-row-margin">
                    <div class="col-md-12">
                        <div class="checkbox">
                            <label class="control-label">
                                <input type="checkbox" name="ReloadFL" value="true" checked>
                                <b>Admin</b>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <span>Note: Options in this category are used to govern page level security as well as dashboard menu options. IE: In order to DISPATCH or PREP from anywhere in the system, the appropriate privilege must also be checked here.
                    </span>
                    <div class="row no-row-margin">
                        @foreach (var item in @Model.DashboardMenu)
                        {
                            <div class="col-md-12 no-padding">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="@item.PrivilegeID" id="@item.PrivilegeID"   name="@item.PrivilegeID"  @if (item.GrantedFL == 1)
                                                                                                                                            { <text>checked='checked'</text> }>
                                        @item.PrivilegeDS
                                    </label>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        
                        //Dashboard list
        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <div class="checkbox">
                        <label class="control-label">
                            <input type="checkbox" name="ReloadFL" value="true" checked>
                            <b>Dashboard List</b>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                @foreach (var item in @Model.DashboardList)
                {
                    <div class="col-md-12">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="@item.PrivilegeID" id="@item.PrivilegeID"   name="@item.PrivilegeID"  @if (item.GrantedFL == 1)
                                                                                                                                    { <text>checked='checked'</text> }>
                                @item.PrivilegeDS
                            </label>
                        </div>
                    </div>
                }
            </div>
        </div>
        
                //Dispatch Screen
        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <div class="checkbox">
                        <label class="control-label">
                            <input type="checkbox" name="ReloadFL" value="true" checked>
                            <b>Dispatch Screen</b>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                @foreach (var item in @Model.DispatchScreen)
                {
                    <div class="col-md-12">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="@item.PrivilegeID" id="@item.PrivilegeID"   name="@item.PrivilegeID"  @if (item.GrantedFL == 1)
                                                                                                                                    { <text>checked='checked'</text> }>
                                @item.PrivilegeDS
                            </label>
                        </div>
                    </div>
                }
            </div>
        </div>
                //Prep Screen
        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <div class="checkbox">
                        <label class="control-label">
                            <input type="checkbox" name="ReloadFL" value="true" checked>
                            <b>Prep Screen</b>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                @foreach (var item in @Model.PrepScreen)
                {
                    <div class="col-md-12">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="@item.PrivilegeID" id="@item.PrivilegeID"   name="@item.PrivilegeID"  @if (item.GrantedFL == 1)
                                                                                                                                    { <text>checked='checked'</text> }>
                                @item.PrivilegeDS
                            </label>
                        </div>
                    </div>
                }
            </div>
        </div>
        
                //Require Cleaning
        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <div class="checkbox">
                        <label class="control-label">
                            <input type="checkbox" name="ReloadFL" value="true" checked>
                            <b>Require Cleaning</b>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                @foreach (var item in @Model.RequireCleaning)
                {
                    <div class="col-md-12">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="@item.PrivilegeID" id="@item.PrivilegeID"   name="@item.PrivilegeID"  @if (item.GrantedFL == 1)
                                                                                                                                    { <text>checked='checked'</text> }>
                                @item.PrivilegeDS
                            </label>
                        </div>
                    </div>
                }
            </div>
        </div>
       
                //Require Service
        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <div class="checkbox">
                        <label class="control-label">
                            <input type="checkbox" name="ReloadFL" value="true" checked>
                            <b>Require Service</b>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                @foreach (var item in @Model.RequireCleaning)
                {
                    <div class="col-md-12">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="@item.PrivilegeID" id="@item.PrivilegeID"   name="@item.PrivilegeID"  @if (item.GrantedFL == 1)
                                                                                                                                    { <text>checked='checked'</text> }>
                                @item.PrivilegeDS
                            </label>
                        </div>
                    </div>
                }
            </div>
        </div>
                //Tank Search Screen
        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <div class="checkbox">
                        <label class="control-label">
                            <input type="checkbox" name="ReloadFL" value="true" checked>
                            <b>Tank Search Screen</b>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                @foreach (var item in @Model.TankSearchScreen)
                {
                    <div class="col-md-12">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="@item.PrivilegeID" id="@item.PrivilegeID"   name="@item.PrivilegeID"  @if (item.GrantedFL == 1)
                                                                                                                                    { <text>checked='checked'</text> }>
                                @item.PrivilegeDS
                            </label>
                        </div>
                    </div>
                }
            </div>
        </div>
                //Tank History Screen
        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <div class="checkbox">
                        <label class="control-label">
                            <input type="checkbox" name="ReloadFL" value="true" checked>
                            <b>Tank History Screen</b>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                @foreach (var item in @Model.TankHistoryScreen)
                {
                    <div class="col-md-12">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="@item.PrivilegeID" id="@item.PrivilegeID"   name="@item.PrivilegeID"  @if (item.GrantedFL == 1)
                                                                                                                                    { <text>checked='checked'</text> }>
                                @item.PrivilegeDS
                            </label>
                        </div>
                    </div>
                }
            </div>
        </div>
                //Grounded Matrix
        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <div class="checkbox">
                        <label class="control-label">
                            <input type="checkbox" name="ReloadFL" value="true" checked>
                            <b>Grounded Matrix</b>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                @foreach (var item in @Model.GroundedMatrix)
                {
                    <div class="col-md-12">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="@item.PrivilegeID" id="@item.PrivilegeID"   name="@item.PrivilegeID"  @if (item.GrantedFL == 1)
                                                                                                                                    { <text>checked='checked'</text> }>
                                @item.PrivilegeDS
                            </label>
                        </div>
                    </div>
                }
            </div>
        </div>        
        //Reports Menu Options
        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <div class="checkbox">
                        <label class="control-label">
                            <input type="checkbox" name="ReloadFL" value="true" checked>
                            <b>Reports Menu Options</b>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                @foreach (var item in @Model.ReportsMenuOptions)
                {
                    <div class="col-md-12">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="@item.PrivilegeID" id="@item.PrivilegeID"   name="@item.PrivilegeID"  @if (item.GrantedFL == 1)
                                                                                                                                    { <text>checked='checked'</text> }>
                                @item.PrivilegeDS
                            </label>
                        </div>
                    </div>
                }
            </div>
        </div>        
        //Admin Menu Options
        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <div class="checkbox">
                        <label class="control-label">
                            <input type="checkbox" name="ReloadFL" value="true" checked>
                            <b>Admin Menu Options</b>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                @foreach (var item in @Model.AdminMenuOptions)
                {
                    <div class="col-md-12">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="@item.PrivilegeID" id="@item.PrivilegeID"   name="@item.PrivilegeID"  @if (item.GrantedFL == 1)
                                                                                                                                    { <text>checked='checked'</text> }>
                                @item.PrivilegeDS
                            </label>
                        </div>
                    </div>
                }
            </div>
        </div>
        //Product Master
        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <div class="checkbox">
                        <label class="control-label">
                            <input type="checkbox" name="ReloadFL" value="true" checked>
                            <b>Product Master</b>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                @foreach (var item in @Model.ProductMaster)
                {
                    <div class="col-md-12">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="@item.PrivilegeID" id="@item.PrivilegeID"   name="@item.PrivilegeID"  @if (item.GrantedFL == 1)
                                                                                                                                    { <text>checked='checked'</text> }>
                                @item.PrivilegeDS
                            </label>
                        </div>
                    </div>
                }
            </div>
        </div>        
        <div class="form-group text-right mt10">
            <input type="submit" value="Save Product" class="btn btn-default btn-primary" />
        </div>
    }

</div>
