@model DOWTank.Controllers.TankHistoryModel
@using System.Data;
@{
    ViewBag.Title = "Tank History";
}
<div class="well well-lg">
    <!--title-->
    <div class="row mt10 mb20">
        <div class="col-md-12">
            <h4 class="dow-color">Tank History</h4>
            @Html.HiddenFor(model => model.HfShowResult, new { id = "hfShowResult" })
        </div>
    </div>
    <!--/title-->
    @using (Html.BeginForm("Search", "TankHistory", FormMethod.Post))
    {
        <div class="row mt10 mb10">
            <div class="col-md-1">
                <label class="control-label">Tank #:*</label>
            </div>
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.TextSearch, new { @maxlength = "100", id = "txtSearch", @value = "", @class = "form-control" })
            </div>
            <div class="col-md-2">
                <input id="btnSearch" type="submit" class="btn btn-default btn-primary" value="Search" />
            </div>
        </div>
    }

    <div id="divShowResults" style="display: none;">

        <div class="row mt20">
            <div class="row no-margin">
                <div class="col-md-4">
                    <h4>Tank Information <span class="ml3">(@ViewBag.TotalRecordsEquipmentInfo)</span></h4>
                </div>
                <div class="col-md-6 mt10">
                    @if (Convert.ToBoolean(ViewBag.AllowEditTankInfo))
                    {
                        <a href="javascript:void(0)" onclick=" alert('will be linked when Edit Tank web form ll be ready') ">Edit Tank Info</a>
                    }
                </div>
            </div>
            <div class="row no-margin">
                <div class="col-md-12">
                    <table class="table table-condensed table-striped table-bordered table-responsive table-hover dataTable no-footer dtr-inline" id="tblEquipmentInfo">
                        <thead>
                            <tr>
                                @foreach (DataColumn col in Model.DataTableEquipmentInfo.Columns)
                                {
                                    if (@col.ColumnName == "EquipmentID")
                                    {
                                    <th></th>
                                    <th></th>
                                    }
                                    else if (@col.ColumnName == "MajorLocationDS" || @col.ColumnName == "LocationDS" || @col.ColumnName == "LoadStatusTypeDS" || @col.ColumnName == "OwnerNM" || @col.ColumnName == "OperatorNM" || @col.ColumnName == "EquipmentTypeDS" || @col.ColumnName == "ServiceTypeDS" || @col.ColumnName == "TankCapacity" || @col.ColumnName == "TankLastTestDT" || @col.ColumnName == "TankNextTestDT")
                                    {
                                        switch (@col.ColumnName)
                                        {
                                            case "MajorLocationDS":
                                    <th>Facility</th>
                                                break;
                                            case "LocationDS":
                                    <th>Location</th>
                                                break;
                                            case "LoadStatusTypeDS":
                                    <th>Status</th>
                                                break;
                                            case "OwnerNM":
                                    <th>Owner</th>
                                                break;
                                            case "OperatorNM":
                                    <th>Operator</th>
                                                break;
                                            case "EquipmentTypeDS":
                                    <th>Type</th>
                                                break;
                                            case "ServiceTypeDS":
                                    <th>Service</th>
                                                break;
                                            case "TankCapacity":
                                    <th>Capacity</th>
                                                break;
                                            case "TankLastTestDT":
                                    <th>Last Test</th>
                                                break;
                                            case "TankNextTestDT":
                                    <th>Test Due</th>
                                                break;
                                        }
                                    }
                                }

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (DataRow row in Model.DataTableEquipmentInfo.Rows)
                            {         
                                <tr>
                                    @foreach (DataColumn col in Model.DataTableEquipmentInfo.Columns)
                                    {
                                        if (@col.ColumnName == "MajorLocationDS" || @col.ColumnName == "LocationDS" || @col.ColumnName == "LoadStatusTypeDS" || @col.ColumnName == "OwnerNM" || @col.ColumnName == "OperatorNM" || @col.ColumnName == "EquipmentTypeDS" || @col.ColumnName == "ServiceTypeDS" || @col.ColumnName == "TankCapacity" || @col.ColumnName == "TankLastTestDT" || @col.ColumnName == "TankNextTestDT")
                                        {<td>@row[col.ColumnName]</td>
                                        }
                                        else if (@col.ColumnName == "EquipmentID")
                                        {
                                        <td>
                                            @if (Convert.ToBoolean(ViewBag.AllowPrep))
                                            {
                                                @Html.ActionLink("Prep", "Prep", "Tank", new { @equipmentAn = @row["EquipmentAN"].ToString() }, null)
                                            }
                                        </td>
                                        <td>
                                            @if (Convert.ToBoolean(ViewBag.AllowDispatch))
                                            {
                                                @Html.ActionLink("Dispatch", "Index", "Dispatch", new { @equipmentAn = @row["EquipmentAN"].ToString() }, null)
                                            }
                                        </td>
                                        }
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row no-margin">
                <div class="col-md-12 mt20">
                    <table class="table table-condensed table-striped table-bordered table-responsive table-hover dataTable no-footer dtr-inline" id="tblEquipmentInfo2">
                        <thead>
                            <tr>
                                @foreach (DataColumn col in Model.DataTableEquipmentInfo.Columns)
                                {
                                    if (@col.ColumnName == "LastProductDS" || @col.ColumnName == "BarrelConditionTypeDS" || @col.ColumnName == "TankGradeTypeDS" || @col.ColumnName == "LastContactNm")
                                    {
                                        switch (@col.ColumnName)
                                        {
                                            case "LastProductDS":
                                    <th>Last Product</th>
                                                break;
                                            case "BarrelConditionTypeDS":
                                    <th>Condition</th>
                                                break;
                                            case "TankGradeTypeDS":
                                    <th>Grade</th>
                                                break;
                                            case "LastContactNm":
                                    <th>Last Contact</th>
                                                break;
                                        }

                                    }
                                }

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (DataRow row in Model.DataTableEquipmentInfo.Rows)
                            {         
                                <tr>
                                    @foreach (DataColumn col in Model.DataTableEquipmentInfo.Columns)
                                    {
                                        if (@col.ColumnName == "LastProductDS" || @col.ColumnName == "BarrelConditionTypeDS" || @col.ColumnName == "TankGradeTypeDS" || @col.ColumnName == "LastContactNm")
                                        {<td>@row[col.ColumnName]</td>
                                        }
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>


            <div class="row no-margin">
                <div class="col-md-12 mt10">
                    <h4>Moves <span class="ml3">(@ViewBag.TotalRecordsActivityHistory)</span></h4>
                </div>
            </div>

            <div class="row no-margin">
                <div class="col-md-12">
                    @using (Html.BeginForm("Filter", "TankHistory", FormMethod.Post))
                    {
                        <div class="row">
                            <div class="col-md-2">
                                <label class="control-label">Search Column:</label>
                                @Html.HiddenFor(model => model.SelectedColumn, new { id = "hfSelectedColumn", @Value = "" })
                            </div>
                            <div class="col-md-3">
                                <select id="ddlFilter" class="form-control">
                                    <option value="">---Select---</option>
                                    <option value="Chassis">Chassis</option>
                                    <option value="From">From</option>
                                    <option value="To">To</option>
                                    <option value="Product">Product</option>
                                    <option value="Charge #">Charge #</option>
                                    <option value="Shipment">Shipment</option>
                                    <option value="Status">Status</option>
                                    <option value="On-Hire">On-Hire</option>
                                    <option value="Driver">Driver</option>
                                </select>
                            </div>
                            <div class="col-md-1">
                                <label class="control-label">Text:</label>
                            </div>
                            <div class="col-md-3">
                                @Html.TextBoxFor(model => model.TextFilter, new { @maxlength = "100", id = "txtFilter", @value = "", @class = "form-control" })
                            </div>
                            <div class="col-md-1">
                                <input id="btnFilter" type="submit" class="btn btn-default btn-primary" value="Filter" />
                            </div>
                        </div>
                        <br />
                    }
                </div>
            </div>
            <div class="row no-margin">
                <div class="col-md-12">
                    <table class="table table-condensed table-striped table-bordered table-responsive table-hover dataTable no-footer dtr-inline" id="tblActivityHistory">
                        <thead>
                            <tr>
                                @foreach (DataColumn col in Model.DataTableActivityHistory.Columns)
                                {
                                    if (@col.ColumnName != "DispatchID" && @col.ColumnName != "Equipment #" && @col.ColumnName != "ChargeBlock" && @col.ColumnName != "Date")
                                    {
                                    <th>@col.ColumnName</th>
                                    }
                                    else if (@col.ColumnName == "DispatchID")
                                    {
                                    <th></th>
                                    }

                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (DataRow row in Model.DataTableActivityHistory.Rows)
                            {         
                                <tr>
                                    @foreach (DataColumn col in Model.DataTableActivityHistory.Columns)
                                    {
                                        if (@col.ColumnName != "DispatchID" && @col.ColumnName != "Equipment #" && @col.ColumnName != "ChargeBlock" && @col.ColumnName != "Date")
                                        {                         
                                        <td>@row[col.ColumnName]</td>
                                        }
                                        else if (@col.ColumnName == "DispatchID")
                                        {
                                        <td>
                                            @if (Convert.ToBoolean(ViewBag.AllowEditDispatch))
                                            {
                                                @Html.ActionLink("Edit", "Index", "Dispatch", new { @dispatchid = @row["DispatchID"].ToString() }, null)
                                            }
                                        </td>
                                            
                                        }
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>



        <div class="row mt5" style="display: none;">
            <div class="col-md-12">
                <table class="table table-condensed table-striped table-bordered table-responsive table-hover dataTable no-footer dtr-inline" id="tblTankInformation">
                    <thead>
                        <tr>
                            @foreach (DataColumn col in Model.DataTableEquipmentProduct.Columns)
                            {
                                <th>@col.ColumnName</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (DataRow row in Model.DataTableEquipmentProduct.Rows)
                        {         
                            <tr>
                                @foreach (DataColumn col in Model.DataTableEquipmentProduct.Columns)
                                {                            
                                    <td>@row[col.ColumnName]</td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row mt10">
            <div class="row no-margin">
                <div class="col-md-4">
                    <h4>On-Hire History <span class="ml3">(@ViewBag.TotalOnHireHistory)</span></h4>
                </div>
                <div class="col-md-6 mt10">
                    @if (Convert.ToBoolean(ViewBag.AllowEditTankInfo))
                    {
                        <a href="javascript:void(0)" onclick=" alert('will be linked when Add History web form ll be ready') ">Edit Tank Info</a>
                    }
                </div>
            </div>
        </div>

        <div class="row mt5">
            <div class="col-md-12">
                <table class="table table-condensed table-striped table-bordered table-responsive table-hover dataTable no-footer dtr-inline" id="tblTankInformation">
                    <thead>
                        <tr>
                            @foreach (DataColumn col in Model.DataTableOnHireHistory.Columns)
                            {
                                if (@col.ColumnName == "ChargeCodeAn" || @col.ColumnName == "OnHireDS" || @col.ColumnName == "StatusDt" || @col.ColumnName == "OnHireReasonTypeDS" || @col.ColumnName == "OnHireHistoryID")
                                {
                                    switch (@col.ColumnName)
                                    {
                                        case "ChargeCodeAn":
                                <th>Charge/Shipment#</th>
                                            break;
                                        case "OnHireDS":
                                <th>On/Off Hire</th>
                                            break;
                                        case "StatusDt":
                                <th>Date</th>
                                            break;
                                        case "OnHireReasonTypeDS":
                                <th>Reason</th>
                                            break;
                                        case "OnHireHistoryID":
                                <th></th>
                                <th></th>
                                            break;
                                    }
                                }
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (DataRow row in Model.DataTableOnHireHistory.Rows)
                        {         
                            <tr>
                                @foreach (DataColumn col in Model.DataTableOnHireHistory.Columns)
                                {
                                    if (@col.ColumnName == "ChargeCodeAn" || @col.ColumnName == "OnHireDS" || @col.ColumnName == "StatusDt" || @col.ColumnName == "OnHireReasonTypeDS" || @col.ColumnName == "OnHireHistoryID")
                                    {
                                        if (@col.ColumnName != "OnHireHistoryID")
                                        {
                                    <td>@row[col.ColumnName]</td>
                                        }
                                        else
                                        {
                                    <td><a onclick="DeleteHistory(@row["OnHireHistoryID"].ToString())" href="javascript:void(0)">Delete</a></td>
                                    <td>@Html.ActionLink("Edit", "SaveHistory", "TankHistory", new { @onHireHistoryID = @row["OnHireHistoryID"].ToString() }, null)</td>
                                        }
                                    }
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

<!--script-->
@section scripts
{
    <script>

        function DeleteHistory(id) {
            $.ajax({
                url: "/TankHistory/DeleteHistory",
                dataType: 'json',
                method: 'POST',
                data: { onHireHistoryID: id },
                success: function (response) {
                    if (response && response.length > 0) {
                        location.reload();
                    }
                }
            });
        }
        //delete data


        $(document).ready(function () {

            if ($("#hfShowResult").val() == "true")
                $("#divShowResults").show();
            else
                $("#divShowResults").hide();

            $("#btnFilter").click(function () {
                $("#hfSelectedColumn").val($("#ddlFilter").val());
                return true;
            });
        });

    </script>
}