@model System.Data.DataTable
@using System.Data;
@{
    ViewBag.Title = "Require Service";
}


<div class="well well-lg">
    <!--title-->
    <div class="row mt10 mb20">
        <div class="col-md-12">
            <h4 class="dow-color">Require Serivce <span class="ml3">(@ViewBag.TotalRecords)</span><span class="ml5">@Html.ActionLink("view in excel", "ViewInExcel", "RequireService")</span></h4>
            <p>List of tanks that require testing.</p>
        </div>
    </div>
    <!--/title-->


    <!--list-->
    <div class="row">
        <div class="col-md-12">
            <table class="table table-condensed table-striped table-bordered table-responsive table-hover" id="tblRequireService">
                <thead>
                    <tr>
                        @foreach (DataColumn col in Model.Columns)
                        {
                            if (@col.ColumnName != "TankLastTestDT" && @col.ColumnName != "Type of Service")
                            {
                                if (@col.ColumnName == "EquipmentID")
                                {
                            <th></th>
                            <th></th>
                                }
                                else
                                {
                            <th>@col.ColumnName</th>
                                }
                            }
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (DataRow row in Model.Rows)
                    {         
                        <tr>
                            @foreach (DataColumn col in Model.Columns)
                            {
                                if (@col.ColumnName != "TankLastTestDT" && @col.ColumnName != "Type of Service")
                                {
                                    if (@col.ColumnName == "Equipment #")
                                    {
                                <td>@Html.ActionLink(@row[col.ColumnName].ToString(), "Index", "TankHistory", new { @tankNumber = @row[col.ColumnName].ToString() }, null)</td>
                                    }
                                    else if (@col.ColumnName == "EquipmentID" && Convert.ToBoolean(ViewBag.AccessDispatch))
                                    {
                                <td><a  class="edit" id="@row["EquipmentID"].ToString()" href="javascript:void(0)">Edit</a></td>
                                <td>@Html.ActionLink("Dispatch", "Index", "Dispatch", new { @equipmentAn = @row["Equipment #"].ToString() }, null)</td>
                                    }
                                    else
                                    {
                                <td>@row[col.ColumnName]</td>
                                    }
                                }

                            }
                        </tr> 
                    }
                </tbody>
            </table>
        </div>
    </div>
    <!--/list-->

</div>

<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-8">
                            <label>Last Test:</label>
                            <input type="text" name="LastTest" class="form-control datetimepicker" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 nopadding">
                        <label>On/Off Hire:*</label>
                    </div>
                    <div class="row no-row-margin">
                        <div class="col-md-2 nopadding">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="OnOffHire" value="true" />
                                    Hydro
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2 nopadding">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="OnOffHire" value="false" />
                                    Air
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="btnSaveChanges" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="hdnEquipmentId" value="" />
<!--script-->
@section scripts
{

    <script>

        function EditRequireService(equipmentId) {
            console.log('equipment id ' + equipmentId);
        }

        //data table
        $(function () {

            $("#tblRequireService").dataTable(
                {
                    "bLengthChange": false,
                    searching: false,
                    ordering: true,
                    "order": [],
                    pagination: true,
                    pageLength: 50,
                    "sDom": '<"top"flp>rt<"bottom"i><"clear">',
                    responsive: true
                });


            $('body').on('click', '#tblRequireService tbody tr a.edit', function () {

                console.log('inside row click... ' + $(this).prop('id'));
                $("#hdnEquipmentId").val($(this).prop('id'));
                $("input[name='LastTest']").val('');
                $("#editModal").modal();

            });


            //console.log('data ' + $("#tblRequireService").dataTable().fnGetData()[0]);

            ////var table = $('#tblRequireService').DataTable();
            //$('#tblRequireService tbody').on('click', 'tr', function () {
            //    console.log($('#tblRequireService').row(this).data());
            //});

            //mark end of document ready
        });

        $(function () {

            $('.datetimepicker').datetimepicker({
                format: 'm/d/Y'
            });

            $("#btnSaveChanges").on('click', function () {

                var equipmentId = $("#hdnEquipmentId").val();
                var lastTest = $("input[name='LastTest']").val();
                var testType = $("input[name='OnOffHire']:checked").val();
                console.log('inside btn save changes ' + lastTest + ' ' + testType);
                //todo: call ajax method to save changes
                if (equipmentId && lastTest && testType) {
                    $.ajax({
                        url: "/RequireService/SaveChanges",
                        dataType: 'json',
                        method: 'POST',
                        data: { EquipmentID: equipmentId, LastTestHydroFL: testType, Tank5YRTestDT: lastTest },
                        success: function (response) {
                            if (response) {
                                location.reload();
                            }
                        }
                    });
                } else {
                    alert("Please provide all the inputs");
                }
            });

            //mark end of document ready
        });

    </script>
}